modules = ["nodejs-20", "web"]
run = "cd my-yt-site && npm run start"

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "cd my-yt-site && npm install && npm run build"]
run = ["sh", "-c", "cd my-yt-site && npm run start"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run Next.js Dev Server"

[[workflows.workflow]]
name = "Run Next.js Dev Server"
author = 962543
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd my-yt-site && npm run dev"

[[ports]]
localPort = 3000
externalPort = 80
